body {
    font-family: courier;
    text-align: center;
    background-image: linear-gradient(30deg, rgb(145, 147, 132), 20%, rgb(252, 247, 227));
    height: 100vh;
}

.header {
    background-color: rgb(145, 147, 132);
    padding: 1vh 0vh;
    margin: 0 0 1vh 0;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

.footer {
    background-color: rgb(145, 147, 132);
    padding: 5vh 0vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0vw;
}

.btn {
    font-size: 2.2em;
    font-weight: bold;
    background-color: indianred;
    margin: 5px;
}

.btn:hover {
    background-color: indianred;
    opacity: 90%;
}

.btn:active:hover {
    background-color: indianred;
    opacity: 80%;
}

.small {
    font-size: 1.2em;
}

.image {
    height: 55vh;
    border-radius: 30px;
    margin: 5vh 0;
}

.item {
    background-color: rgb(255, 191, 191);
    border-color: black;
}

.item:hover {
    background-color: rgb(255, 164, 164);
}