@model Bakery.Models.Treat
@using Bakery.Models

@{
    Layout = "_Layout";
}

<h2>Treats</h2>
<hr>
<h3>Add a flavor to: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add Flavor" />
}