@{
    Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Treats</h2>
<hr>
<h3>Edit Treat</h3>

@using (Html.BeginForm("Update", "Treats"))
{
    @Html.HiddenFor(model => model.TreatId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required="true"})
    <input type="submit" value="Update Treat" />
}