<div class="footer">
    @Html.ActionLink("Home", "Index", "Home", new {}, new {@class="btn"})
    @Html.ActionLink("Flavors", "Index", "Flavors", new {}, new {@class="btn"})
    @Html.ActionLink("Treats", "Index", "Treats", new {}, new {@class="btn"})
</div>
