@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Ingredients</h2>
<hr>
<h3>Edit Ingredient</h3>

@using (Html.BeginForm("Update", "Flavors"))
{
    @Html.HiddenFor(model => model.FlavorId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required="true"})
    <input type="submit" value="Update Flavor" />
}